opencv-python~=4.5.2.52
pandas~=1.2.4
numpy~=1.19.3
Pillow~=8.2.0
imageai~=2.1.6
deepface~=0.0.53
tensorflow~=2.4.0
pickle5~=0.0.11
kaggle~=1.5.12
pip~=21.1.2
wheel~=0.36.2
lxml~=4.6.2
setuptools~=57.0.0
pytesseract~=0.3.7
nltk~=3.4.5
igramscraper~=0.3.5
cryptography~=3.4.7
pydeepl~=0.13
textblob~=0.15.3